###  從CSV文件中讀取數據

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
pd.set_option("display.mpl_style", "default")
# figsize(15, 5)

C:\Users\Java\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2910: FutureWarning:
mpl_style had been deprecated and will be removed in a future version.
Use `matplotlib.pyplot.style.use` instead.

  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
broken_df = pd.read_csv("comptagevelo2012.csv")

In [4]:
broken_df[:3]

,Date,Unnamed: 1,Rachel / Papineau,Berri1,Maisonneuve_2,Maisonneuve_1,Brébeuf,Parc,PierDup,CSC (Côte Sainte-Catherine),Pont_Jacques_Cartier
0,01/01/2012,00:00,16,35,51,38,5.0,26,10,0,27.0
1,02/01/2012,00:00,43,83,153,68,11.0,53,6,1,21.0
2,03/01/2012,00:00,58,135,248,104,2.0,89,3,2,15.0

In [8]:
fixed_df = pd.read_csv("comptagevelo2012.csv")

In [10]:
fixed_df["Berri1"]

0        35
1        83
2       135
3       144
4       197
5       146
6        98
7        95
8       244
9       397
10      273
11      157
12       75
13       32
14       54
15      168
16      155
17      139
18      191
19      161
20       53
21       71
22      210
23      299
24      334
25      306
26       91
27       80
28       87
29      219
       ...
336     324
337    1286
338    1264
339    1204
340    1252
341    1151
342     382
343     427
344     245
345     517
346     598
347     655
348     738
349     335
350     177
351     236
352     242
353     346
354     433
355     178
356      84
357      82
358      51
359      26
360      49
361      12
362      35
363      27
364       5
365       4
Name: Berri1, Length: 366, dtype: int64